@charset "UTF-8";

<!-- /* 서울 */ -->
.CITYOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
.CITYTEXT {
    fill: black;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
}
.CITYTEXT:hover{
	fill: red;
}


<!-- /* 경기도 */ -->
.gyeonggidoOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
    
}
.gyeonggidoTEXT {
    fill: black;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
}
.gyeonggidoTEXT:hover{
	fill: red;
}
.GLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.GPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}

/* 전라남도 */ 
.JNOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}

.JNLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.JNPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.JNTEXT {
    fill: black;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
}

/* 전라북도 */
.JBOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
.JBLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.JBPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.JBTEXT {
    fill: #ffffff;
    font-size: 13;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}

/* 세종 특별시 */
.SJOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
.SJLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.SJPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.SJTEXT {
    fill: #ffffff;
    font-size: 16;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}
/* 대구광역시 */
.DGOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
.DGLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.DGPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.DGTEXT {
    fill: #ffffff;
    font-size: 16;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}

/* 대전광역시 */
.DJOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
.DJLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.DJPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.DJTEXT {
    fill: #ffffff;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
}

/* 제주특별자치도 */
.JEJUOUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.JEJUTEXT {
    fill: #ffffff;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
}

/* 인천광역시 */
.ICTEXT {
    fill: #ffffff;
    font-size: 14px;
    text-anchor: middle;
    alignment-baseline: middle;
}
/* 강원도 */
.GWLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.GWPOINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.GWTEXT {
    fill: #ffffff;
    font-size: 16px;
    text-anchor: middle;
    alignment-baseline: middle;
}