<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RestMapper">

	<insert id="insertRest" parameterType="java.util.List">
		insert into rest values
		(REST_SEQ.NEXTVAL,#{rename}, #{reAddr}, #{reImage}, #{rePhone}, #{reUrl}, #{reInfo}, #{checkIn}, #{checkOut}, #{rTotal}, #{pTotal}, "Y", #{reFacility}, 0 )
	</insert>
</mapper>
