<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.tpo.member.domain.Member" alias="Member"/>
		<typeAlias type="com.kh.tpo.rest.domain.Rest" alias="Rest"/>
		<typeAlias type="com.kh.tpo.rest.domain.Room" alias="Room"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member/member-mapper.xml"/>
		<mapper resource="mappers/rest/rest-mapper.xml"/>
	</mappers>
</configuration>
