<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MemberMapper">
	<resultMap type="Member" id="MemberResultMap">
		<result property="mCreateDate" column="m_create_date"/>
		<result property="mModifyDate" column="m_modify_date"/>
	</resultMap>
	<select id="selectOne" resultMap="MemberResultMap">
		select * from member where  userid=#{userId} and userpwd=#{userPwd} and mstatus='Y'
	</select>
	<select id="checkIdDup" resultType="int">
		select count(*) from member where userid=#{userId}
	</select>
	<insert id="insertMember">
		insert into member
		values(#{userId},#{userPwd},#{userName},#{age},#{gender},#{email},#{phone},#{address},#{domestic},SYSDATE,SYSDATE,DEFAULT)
	</insert>
	<select id="searchId" resultMap="MemberResultMap">
		select * from member where username=#{userName} and phone=#{phone} and mstatus='Y'
	</select>
	<select id="emailChk" resultType="int">
		select count(*) from member where userid=#{userId} and email=#{email} and mstatus='Y'
	</select>
</mapper>
