<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MemberMapper">
	<resultMap type="Member" id="MemberResultMap">
		<result property="mCreateDate" column="m_create_date"/>
		<result property="mModifyDate" column="m_modify_date"/>
	</resultMap>
	<select id="selectOne" resultMap="MemberResultMap">
		select * from member where  userid=#{userId} and userpwd=#{userPwd} and mstatus='Y'
	</select>
</mapper>
